#educationPanel {
    position: absolute;
    left: 35%;
    width: 550px;
    height: 500px;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: royalblue;
    font-family: 'Inconsolata', monospace;
  }

  #stony {
    height: 50px;
    width: 50px;
    position: fixed;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 10px;
  }

  #stonyText {
    position: fixed;
    margin-top: 2%;
    margin-left: 7%;
  }

  #stonyText2 {
      font-size: 13px;
      position: fixed;
      margin-top: 6%;
      margin-left: 7%;
  }

  #ncc {
      height: 45px;
      width: 50px;
      border-radius: 10px;
      position: fixed;
      margin-left: 2%;
      margin-top: 10%;
  }

  #nccText {
    position: fixed;
    margin-top: 10%;
    margin-left: 7%;
  }

  #nccText2 {
      font-size: 13px;
      position: fixed;
      margin-top: 14%;
      margin-left: 7%;
  }

  #coursework {
      margin-left: 5%;
      margin-top: 45%;
  }
  
  #rc {
    font-size: 17px;
    color: royalblue;
  }

  #courseTable {
      font-size: 14px;
  }

  td {
      width: 250px;
      height: 30px;
  }