@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
  }

  .popup_inner {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 450px;
    width: 450px;
    border-style: solid;
    border-radius: 50%;
    border-width: 5px;
    border-color: #FD9C6D;
    margin: auto;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .popup_inner2 {
    position: absolute;
    right: 0%;
    bottom: 0%;
    height: 350px;
    width: 350px;
    border-style: solid;
    border-radius: 50%;
    border-width: 5px;
    border-color: #FD9C6D;
    margin: auto;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 60px;
    font-size: 10px;
    font-family: 'Inconsolata', monospace;
  }

  #quote {
    /* display: flex; */
    /* text-align: middle; */
    line-height: 8px;
    font-size: 13px;

  }

  h1 {
    font-family: 'Permanent Marker';
    color: black;
    margin-top: 5%;
  }

  .aboutMeText {
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
    /* text-align: center; */
    width: 80%;
    height: 80%;
    vertical-align: middle;
    display: inline-block;
    line-height: 35px; 
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  b {
    color: black;
    font-size: 50px;
  }

  .tabSpace {
    margin-left: 40px;
  }

#aboutMeTitle {
  height: 130px;
  width: 130px;
  top: 5%;
  right: 25%;
  position: fixed;
  background-color: white;
  border-style: solid;
  border-color: #FD9C6D;
  border-width: 5px;
  border-radius: 50%;
  display: inline-block;
  font-family: 'Permanent Marker';
  font-weight:bold;
  font-size:1.0em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#exit {
  height: 130px;
  width: 130px;
  bottom: 0%;
  left: 30%;
  position: fixed;
  color: black;
  background-color: white;
  border-style: solid;
  border-color: #FD9C6D;
  border-width: 5px;
  border-radius: 50%;
  display: inline-block;
  font-family: 'Permanent Marker';
  font-weight:bold;
  font-size:25px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#exit:hover {
  background-color: #FD9C6D;
  color: white;
}

.bubble {
  font-size: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: #FD9C6D;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tennis {
  bottom: 5%;
  right: 43%;
  width: 45px;
  height: 45px;
}

#friedChicken {
  top: 30%;
  right: 33%;
  width: 60px;
  height: 60px;
}

#bball {
  bottom: 20%;
  right: 46%;
  width: 63px;
  height: 63px;
}

#laptop {
  top: 27%;
  right: 21%;
  width: 60px;
  height: 60px;
}

#game {
  bottom: 13%;
  left: 22%;
  width: 40px;
  height: 40px;
}

#tv {
  top: 5%;
  right: 42.5%;
  width: 50px;
  height: 50px;
}

.bubble:hover {
  background-color: #FD9C6D;
  font-size: 30px;
  transform: scale(1.2);
}

#boxxx {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: white;
  z-index: 100;

  /* border-style: solid; */

  height: 600px;
  margin-top: -300px;

  width: 800px;
  margin-left: -400px;
}

#hoverOne {
  border-style: solid;
  border-width: 3px;
  border-color: #FD9C6D;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 188px;
  height: 188px;
  right: 0%;
  top: 0%;
  font-family: 'Inconsolata', monospace;
}

#hoverTwo {
  border-style: solid;
  border-width: 3px;
  border-color: #FD9C6D;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  left: 0%;
  bottom: 0%;
  font-family: 'Inconsolata', monospace;
}

#tennisBubble {
  font-size: 10px;
  display: flex;
  text-align: middle;
  line-height: 2px;
}

#rafa {
  height: 90px;
  width: 75px;
  border-radius: 10px;
}

#gameBubble {
  font-size: 13px;
  line-height: 2px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gameIcon {
  height: 45px;
  width: 45px;
}

#bballBubble {
  font-size: 13px;
  line-height: 2px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ray {
  height: 90px;
  width: 55px;
  border-radius: 10px;
}

#laptopBubble {
  font-size: 10px;
  line-height: 2px;
}

#boldSmaller {
  font-size: 11px;
}

#apple {
  height: 40px;
  width: 40px;
  bottom: 20px;
}

#friedBubble {
  font-size: 13px;
  line-height: 1px;
}

#pelicana {
  height: 100px;
  width: 100px;
}

#tvBubble {
  line-height: 2px;
}

#dan {
  border-radius: 25px;
  height: 150px;
  width: 200px;
  transform: rotate(-90deg);
}