#resumeTitle {
    margin-top: 2%;
}

#arrow {
    top: 2%;
    left: 1%;
    position: fixed;
}

.btn {
    background-color: white;
    border: none;
    color: #5588FF;
    border-style: solid;
    border-color:#5588FF;
    border-width: 3px;
    font-size: 25px;
    height:  75px;
    width: 22%;
    vertical-align: middle;
    border-radius: 25px;
    right: 2%;
    top: 2%;
    position: fixed;
    outline: 0;
    font-family: 'Inconsolata', monospace;
}

#doc {
    vertical-align: middle;
}

.title {
    font-family: 'Inconsolata', monospace;
    font-size: 22px;
    position: fixed;
    margin-left: 1%;
    margin-top: 1%;
    color: #5588FF;
}

.eduTitle {
    font-family: 'Inconsolata', monospace;
    font-size: 22px;
    position: fixed;
    margin-left: 1%;
    margin-top: 1%;
    color: #5588FF;
}

#stony {
    height: 50px;
    width: 50px;
    position: fixed;
    margin-left: 2%;
    margin-top: 4%;
    border-radius: 25px;
}

#syosset {
    height: 50px;
    width: 70px;
    position: fixed;
    margin-left: 1.5%;
    margin-top: 12%;
}

.workTitle {
    font-family: 'Inconsolata', monospace;
    font-size: 22px;
    position: fixed;
    margin-left: 1%;
    margin-top: 1%;
    color: #5588FF;
}

.programmingBox {
    /* background-color: #F4F4F4; */
    border-style: solid;
    border-width: 3px;
    border-color: #C5C5C5;
    border-radius: 25px;
    width: 40%;
    height: 60%;
    left: 2%;
    position: fixed;
    /* bottom: 2%; */
    top: 37%;
}

.programmingSkill {
    border-width: 3px;
    border-style: solid;
    height: 88%;
    width: 95%;
    margin-top: 8%;
    margin-left: 4%;
    /* line-height: 40%; */
}

.educationBox {
    /* background-color: #F4F4F4; */
    /* border-style: solid;
    border-width: 3px;
    border-color: #C5C5C5;
    border-radius: 25px;
    width: 30%;
    height: 35%;
    left: 34%;
    position: fixed;
    top: 20%; */
    font-family: 'Inconsolata', monospace;
    border-style: solid;
    border-width: 3px;
    border-color: #C5C5C5;
    border-radius: 25px;
    width: 40%;
    height: 20%;
    left: 2%;
    position: fixed;
    top: 15%;
}

.schoolTitle {
    position: fixed;
    margin-top: 4%;
    margin-left: 7%;
    font-size: 19px;
}

.schoolTitle2 {
    position: fixed;
    margin-top: 8%;
    margin-left: 8%;
    font-size: 13px;
}

#schoolCourseWork {
    position: fixed;
    margin-top: 5%;
    margin-left: 28%;
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
    width: 10%;
    height: 5%;
    border-width: 3px;
    border-style: solid;
    border-color: #5588FF;
    color: #5588FF;
    border-radius: 25px;
    outline: 0;
    background-color: white;
}

.workBox {
    /* background-color: #F4F4F4; */
    border-style: solid;
    border-width: 3px;
    border-color: #C5C5C5;
    border-radius: 25px;
    width: 54%;
    height: 82%;
    bottom: 2%;
    right: 2%;
    position: fixed;
    top: 15%;
}

.icon {
    width: 40px;
    height: 40px;
    margin-bottom: 1%;
}

.firstProgramming {
    border-style: solid;
    position: fixed;
    width: 30%;
    height: 50%;
    margin-left: 1%;
    line-height: 40px; 
}

.secondProgramming {
    width: 45%;
    right: 50%;   
}