
.resumePage {
    height: 100%;
}

#arrow {
    top: 2%;
    left: 2%;
    position: fixed;
    height: 50px;
    width: 50px;
}

.btn {
    background-color: white;
    border: none;
    color: rgb(71, 115, 251);
    font-size: 40px;
    height:  80px;
    width: 25%;
    vertical-align: middle;
    border-radius: 10px;
    margin-top: 3%;
    outline: 0;
    font-family: 'Permanent Marker';
    text-align: center;
}

#doc {
    vertical-align: middle;
    height: 35px;
    width: 30px;
    margin-right: 1%;
}

.btn:hover > #doc {
    filter: brightness(0) invert(1);
}

.btn:hover {
    background-color: #5588FF;
    border: none;
    color: white;
}

#title {
    color: white;
    font-size: 20px;
    font-family: 'Permanent Marker';
}

.container {
    height: 0;
    padding-bottom: 35%;
    width: 35%;
    margin: 5% auto 0 auto;
    /* border-style: solid; */
    /* border-width: 2px; */
    /* border-color: royalblue; */
    position: relative;
}

.eduPanel {
    height: 33%;
    width: 33%;
    background-color:#0559FF;
    text-align: center;
    top: 0%;
    left: 0%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    animation-name: shake;
    animation-duration: 8s;
    animation-iteration-count:infinite;
    outline: 0;
}

@keyframes shake {
    10%  { transform: translateX(1px);  }
    20%  { transform: translateX(-2px);  }
    30%  { transform: translateY(-1px); }
    40%  { transform: translateY(1px);  }
    50%  { transform: translateX(1px);  }
    60%  { transform: translateX(-2px);  }
    70%  { transform: translateY(-1px); }
    80%  { transform: translateY(1px);  }
    90%  { transform: translateX(1px);  }
    100% { transform: translateX(0);    }
} 

.skillPanel {
    /* height: 281.6px; */
    height: 65%;
    width: 33%;
    background-color:#4D89FF;
    text-align: center;
    bottom: 0%;
    left: 0%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    /* border-radius: 10px; */
    /* animation-name: shake;
    animation-duration: 8s;
    animation-iteration-count:infinite;
    outline: 0; */
}

.workPanel {
    height: 70%;
    width: 65%;
    background-color:#2B6CED;
    text-align: center;
    top: 0%;
    right: 0%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* animation-name: shake;
    animation-duration: 8s;
    animation-iteration-count:infinite;
    outline: 0; */
}

.personalPanel {
    height: 28%;
    width: 65%;
    background-color:#174DB8;
    text-align: center;
    bottom: 0%;
    right: 0%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    /* border-radius: 10px; */
    /* animation-name: shake;
    animation-duration: 8s;
    animation-iteration-count:infinite;
    outline: 0; */
}
