@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
/* @import url("https://fonts.googleapis.com/css?family=Rubik"); */

#text {
  position: absolute;
  left: 50%;
  bottom: 30%;
  z-index: 100;

  /* border-style: solid; */

  height: 250px;
  margin-top: -1255px;

  width: 400px;
  margin-left: -200px;
  color: black;

  background-color: white;
  
  line-height: 10px;
  font-family: 'Permanent Marker';

  /* display: flex; */
  align-items: center;
  /* justify-content: center; */
}


@keyframes wave {
    /* 20%  { transform: translateX(4px);  }
    40%  { transform: translateX(-4px); }
    60%  { transform: translateX(2px);  }
    80%  { transform: translateX(-1px); }
    100% { transform: translateX(0);    } */
    50% { transform: rotate(10deg); }
  }

  .wave:hover {
    animation: wave 1s ease;
    animation-iteration-count: 3;
  }

  #myName {
    font-size: 55px;
  }

  #job {
    font-size: 25px;
  }

  #emoji {
    font-size: 30px;
  }