/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} */


input {
  background:none;
  border:0;
  border-bottom:5px solid #555;
  font-weight:bold;
  font-size:1.0em;
  padding:4px 0;
  outline:0;
  font-family: 'Permanent Marker';
  position: absolute;
  text-align:center;
  width: 10%;
  height: 3%;
  right: 45%;
  bottom: 5%;
}

.resumeButton {
  height: 120px;
  width: 120px;
  top: 16%;
  right: 16%;
  position: fixed;
  background-color: white;
  border-style: solid;
  border-color: #5588FF;
  border-width: 5px;
  display: inline-block;
  font-family: 'Permanent Marker';
  font-weight:bold;
  font-size:1.0em;
  animation-name: tilt;
  /* transform-origin: middle bottom; */
  animation-duration: 4s;
  animation-iteration-count:infinite;
  outline: 0;
}

@keyframes tilt {
  25% { transform: rotate(10deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

.resumeButton:hover {
  animation: stop;
  background-color: black;
  color: white;
  border: none;
}

  /* color: #FF5B5B; */

  #projects {
    width: 120px;
    height: 120px;
    border-style: solid;
    border-width: 5px;
    border-color: #FF5B5B;
    transform: rotate(45deg);
    font-family: 'Permanent Marker';
    font-weight:bold;
    font-size:1.0em;
    bottom: 16%;
    left: 16%;
    position: fixed;
    outline: 0;
    display: inline-block;
  }

  #projectText {
    transform: rotate(-45deg);
  }

  #tri {
    font-size: 150px;
    color: #FF5B5B;
    /* color: white; */
    position: fixed;
    top: 30%;
    left: 16%;
  }