input {
  background:none;
  border:0;
  border-bottom:5px solid #555;
  font-weight:bold;
  font-size:1.0em;
  padding:4px 0;
  outline:0;
  font-family: 'Permanent Marker';
  position: absolute;
  text-align:center;
  width: 10%;
  height: 3%;
  right: 45%;
  bottom: 5%;
}

.resumeButton {
  height: 120px;
  width: 120px;
  top: 16%;
  right: 16%;
  border-radius: 10px;
  position: fixed;
  background-color: white;
  border-style: solid;
  border-color: #5588FF;
  border-width: 5px;
  display: inline-block;
  font-family: 'Permanent Marker';
  font-weight:bold;
  font-size:1.0em;
  animation-name: bounce;
  /* transform-origin: middle bottom; */
  animation-duration: 4s;
  animation-iteration-count:infinite;
  outline: 0;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-30px);
  }
	60% {
    transform: translateY(-15px);
  }
}



@keyframes tilt {
  25% { transform: rotate(10deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

.resumeButton:hover {
  animation: stop;
  background-color: black;
  color: white;
  border: none;
}

#projects {
  background-color: white;
  width: 120px;
  height: 120px;
  border-style: solid;
  border-width: 5px;
  border-color: #FF5B5B;
  transform: rotate(45deg);
  font-family: 'Permanent Marker';
  font-weight:bold;
  font-size:1.0em;
  bottom: 16%;
  left: 16%;
  position: fixed;
  outline: 0;
  display: inline-block;
  animation-name: backAndForth;
  animation-duration: 10s;
  animation-iteration-count:infinite;
  outline: 0;
  animation-fill-mode: forwards;
}

#projectText {
  transform: rotate(-45deg);
}

#projects:hover {
  animation: stop;
  background-color: black;
  color: white;
  border: none;
}

@keyframes backAndForth {
    0%  { transform: rotate(45deg); }
    25% { transform: rotate(30deg); }
    50% { transform: rotate(45deg); }
    75% { transform: rotate(60deg); }
    100% { transform: rotate(45deg); }
} 

.triContainer {
  position: fixed;
  right: 13%;
  bottom: 16%;
}

.triangle {
  position: relative;
  width:0;
  /* bottom: -65%; */
  /* right: -73%; */
  border-bottom:solid 150px limegreen;
  border-right:solid 90px transparent;
  border-left:solid 90px transparent;
}
.triangle .empty {
  position: absolute;
  top:10px;
  left:-80px;
  width:0;
  border-bottom:solid 135px white;
  border-right:solid 80px transparent;
  border-left:solid 80px transparent;
}

#contactTitle {
  font-family: 'Permanent Marker';
  font-size:1.0em;
  position: fixed;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center */
  position: absolute;
  top: 50%;
  left: 25%;
  margin-right: -50%;
}

.resumeButton:hover {
  animation: stop;
  background-color: black;
  color: white;
  border: none;
}